{{define "contents"}}
{{ $messagelength := len .MessageList }}
  {{ if gt $messagelength 0 }}
    <div class="ui comments">
      <h3 class="ui dividing header">Messages</h3>
      {{ range .MessageList }}
      <div class="comment">
        <a class="avatar">
        {{ if eq .Icon_Id 1 }}
          <img src="{{template "icon1.jpg" .}}">
        {{ else }}
          <img src="{{template "icon2.jpg" .}}">
        {{ end }}
        </a>
        <div class="content">
          <a class="author">{{ .User }}</a>
          <div class="metadata">
            <span class="date">{{ .Created }}</span>
          </div>
          <div class="text">
            {{ .Message }}
          </div>
          <div class="actions">
            <form class="ui content" method="POST">
              <input type="hidden" name="action" value="updatemessage">
              <input type="hidden" name="message_id" value="{{ .Message_Id }}">
              {{ if eq .Status 0 }}
              <input type="hidden" name="status" value="10">
              <div class="ui red small button" onclick="SubmitForm(this);">Hide</div>
              {{ else }}
              <input type="hidden" name="status" value="0">
              <div class="ui green small button" onclick="SubmitForm(this);">Show</div>
              {{ end }}
            </form>
          </div>
        </div>
      </div>
    {{ end }}
    </div>
  {{ end }}
    <button class="ui primary button" onclick="AddMessage();">
      Add Message
    </button>
    <div class="ui dimmer modals page transition hidden">
      <div class="ui fullscreen modal transition hidden" style="left: auto !important;">
        <form class="ui fullscreen modal" method="POST">
          <i class="close icon"></i>
          <div class="header">
            New Message
          </div>
          <div class="content">
            <div class="ui form">
              <div class="field">
                <label>NickName</label>
                <div class="ui input">
                  <input type="text" name="user">
                </div>
              </div>
              <div class="field">
                <label>Message</label>
                <div class="ui input">
                  <input type="text" name="message">
                </div>
              </div>
              <div class="inline fields">
                <label for="fruit">Select Icon:</label>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="icon" value="1" checked="" tabindex="0" class="hidden" onchange="ChangeIcon(1)">
                    <label>Icon A</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="icon" value="2" tabindex="0" class="hidden" onchange="ChangeIcon(2)">
                    <label>Icon B</label>
                  </div>
                </div>
              </div>
              <div class="field">
                <img id="iconimg" src="{{template "icon1.jpg" .}}">
              </div>
            </div>
          </div>
          <input type="hidden" name="action" value="addmessage">
          <input type="hidden" name="room_id" value="{{ .RoomId }}">
          <div class="actions">
            <div class="ui button" onclick="CloseModal();">Cancel</div>
            <div class="ui green button" onclick="SubmitForm(this);">Add</div>
          </div>
        </form>
      </div>
    </div>
{{ end }}
